.insert-task {
  max-width: 980px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  label {
    color: #232423aa;
    font-size: 0.875rem;
    margin-bottom: 10px;
  }

  input {
    width: 400px;
    padding: 16px 16px;
    border: 1px solid #4e4b3e;
    border-radius: 24px;
    font-size: 0.9rem;
    &::placeholder {
      color: #232423bb;
      font-size: 0.9rem;
    }
    &:active,
    &:focus {
      color: #232423;
      font-size: 0.9rem;
      outline: none;
    }
  }

  button {
    border-radius: 24px;
    padding: 8px 16px;
    margin: 16px auto;
    font-weight: bold;
    border: 2px solid #785e57;
    outline: none;
    background: #785e57;
    color: #faf9f5;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 11px 7px 38px -17px #000000;
      box-shadow: 11px 7px 38px -17px #000000;
    }

    &:disabled {
      color: #faf9f5;
      background: #bcc4bc;
      border: 2px solid #bcc4bc;
      cursor: not-allowed;
    }
  }
}
